{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/vehicle.css' %}">
    <title>dilip motors</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a href="\" class=navbar-brand>Dilip Motors
      <img src=""alt=""><span style="color:Tomato;font-size=2em;"><i class="fas fa-car"></i></span></a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="#"class=nav-link>Home</a> </li>
        <li class="nav-item"><a href="#"class=nav-link>Services</a> </li>
        <li class="nav-item"><a href="#"class=nav-link>About</a> </li>
        <li class="nav-item"><a href="#"class=nav-link>Contact</a> </li>
      </ul>

    </nav>
    <h1>DILIP MOTORS{% if user.is_authenticated %}<span style="color:Tomato;font-size=2em;"><i class="fas fa-car"></i></span><a href="{% url 'car_new' %}"><span style="color:Tomato;font-size=2em;"><i class="fas fa-plus"></i></a></span>{% endif %}</h1>
    {% block content %}

    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  {# footer #}

  <div class="footercustom">
  <div class="footer dark">
    <div class="container">
      <footer>
        <div class="row">
          <div class="col-md-4">
          Dilip Motors Private Ltd
          </div>
          <div class="col-md-4">
            Models
          </div>
          <div class="col-md-4">
            <h5>Connect us on</h5>
            <ul class="list-inline">
              <a target="_blank" href="https://www.facebook.com/dilip.sapkota.528"><span style="font-size:2em;color:Tomato;></span>"<i class="fab fa-facebook-f"></i>
              </a>
              <a target="_blank" href="https://twitter.com"><span style="font-size:2em;color:Tomato;"><i class="fab fa-twitter"></i></span></a>

              <a target="_blank" href=""><span style="font-size:2em;color:Tomato;"><i class="fab fa-skype"></i></span>
              </a>
              <a target="_blank" href="https://github.com"><span style="font-size:2em;color:Tomato;"><i class="fab fa-github"></span></i>
              </a>
            </ul>
          </div>
        </div>
        <p class="copyright">&copy; 2011-2018 Dilip Motors Private Limited. All right reserved.</p>
      </footer>
</html>
