{% extends "vehicle/base.html" %}
{% block content %}
<h3 class="text-center">CAR DETAIL{% if user.is_authenticated %}<a href="{% url 'car_edit' pk=detail.pk %}"><span style="font-size:1em;color:Tomato;"><i class="fas fa-pencil-alt"></i></span></a>{% endif %}</h3>
<div class="container">

  <div class="row">
    <div class="col-md-8 offset-2">
      <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">si</th>
            <td>car id number</td>
            <td>car name</td>
            <td>car variant</td>
            <td>fuel type</td>
            <td>color</td>
          </tr>
        </thead>
        <tbody>
          <th scope="row">{{ detail.id }}</th>
          <td>{{ detail.car_id }}</td>
          <td>{{ detail.car_name }}</td>
          <td>{{ detail.car_variant }}</td>
          <td>{{ detail.car_fuel }}</td>
          <td>{{ detail.car_color }}</td>
        </tbody>
      </table>
    </div>

  </div>
</div>
<div class="divspace">
</div>
{% endblock %}
