{% extends "vehicle/base.html" %}
{% block content %}


<div class="container">

  <div class="row">
    <div class="col-md-8 offset-2">
      <h4>LISTS OF CARS</h4>
      {% for l in list  %}
      <table class="table table-bordered table-dark a">
        <thead>
          <tr>
            <th scope="col">si</th>
            <th scope="col">car id number</th>
            <th scope="col">car name</th>
            <th scope="col">car variant</th>
            <th scope="col">fuel type</th>
            <th scope="col">color</th>
          </tr>
        </thead>
        <tbody>
          <th  scope="row">{{ l.id }}</th>
          <td >{{ l.car_id }}</td>
          <td ><a href="{% url 'car_detail' pk=l.pk %}">{{ l.car_name }}s</a> </td>
          <td >{{ l.car_variant }}</td>
          <td >{{ l.car_fuel }}</td>
          <td >{{ l.car_color }}</td>
        </tbody>
      </table>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
